<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h3 class="heading">Latest Mars News</h3>
        <h4 class="heading">{{mars.news_title}}</h4>
        <p>{{mars.news_p}}</p>
      </div>
    </div>
    <div class="row" id="mars-featured-img">
      <div class="col-md-8">
        <h3 class="heading">Featured Mars Image</h3>
        <img width="600" src="{{mars.featured_image_url}}"/>
      </div>
      <div class="col-md-4">
        <h4 class="heading" id="mars-weather">Current Weather on Mars</h4>
        <p>{{mars.mars_weather}}</p>
        <br>
        <h4 class="heading" id="mars-facts">Mars Facts</h4>
        {{mars.mars_facts}}
      </div>
    </div>
    <div class="row" id="mars-hemispheres">
      <div class="col-md-6">
        <h3 style="text-align:center" class="heading">Mars Hemispheres</h3>
        <ul>
          <li style="float:left; padding:3px; list-style:none"><img width="325" src="{{mars.hemisphere_image_urls[0].img_url}}"/></li>
          <li style="float:left; padding:3px; list-style:none"><img width="325" src="{{mars.hemisphere_image_urls[1].img_url}}"/></li>
        </ul>
      </div>
    </div>
    <div class="row" id="mars-hemispheres">
      <div class="col-md-6">
        <ul>
          <li style="float:left; list-style:none; margin-right:90px">Valles Marineris Hemisphere Enhanced</li>
          <li style="float:left; list-style:none">Cerberus Hemisphere Enhanced</li>
        </ul>
      </div>
    </div>
    <div class="row" id="mars-hemispheres">
      <div class="col-md-6">
        <ul>
          <li style="float:left; padding:3px; list-style:none"><img width="325" src="{{mars.hemisphere_image_urls[2].img_url}}"/></li>
          <li style="float:left; padding:3px; list-style:none"><img width="325" src="{{mars.hemisphere_image_urls[3].img_url}}"/></li>
        </ul>
      </div>
    </div>
    <div class="row" id="mars-hemispheres">
      <div class="col-md-6">
        <ul>
          <li style="float:left; list-style:none; margin-right:115px">Schiaparelli Hemisphere Enhanced</li>
          <li style="float:left; list-style:none">Syrtis Major Hemisphere Enhanced</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
</body>

</html>
